services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: api_service
    ports:
      - "8000:8000"
    restart: always
    networks:
      - app_network

  client_streamlit:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: streamlit_client
    ports:
      - "8501:8501"
    restart: always
    environment:
      - API_URL=http://api:8000/predict
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
